.calculator__button {
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 1px gray solid;
    font-size: 20px;
    font-weight: bold;
}

.calculator__button:active {
    transition: 0.2s;
    background-color: #fc0;
    color: black;
}

.calculator__button:hover {
    box-shadow: 0 0 3px #d1a700;
}