.calculator__display {
     grid-column: 1/5;
     border-radius: 10px;
     border: 1px gray solid;
     box-shadow: 0 0 2px #d1a700;
     background-color: white;
     text-align: right;
     box-sizing: border-box;
     padding: 0 10px 0 50px;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: 3px;
}