.calculator {
    box-sizing: border-box;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 40px);
    gap: 10px;
    padding: 10px;
    margin: 10% auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 2px #d1a700;
    border-radius: 10px;
    position: relative;
    background-color: rgb(223, 223, 223);
}